/*-----breadcrumbs-----*/
.kama_breadcrumbs {
	padding: 20px 0;
	font-size: 17px;
	color: var(--darkGrey-color);
	a {
		position: relative;
		color: var(--font-color);
		display: inline-flex;
		align-items: center;
		transition: color 0.3s ease-in;
		&:hover {
			color: var(--gold-color);
		}
	}
	.kb_sep {
		display: inline-flex;
		i {
			transform: rotate(-90deg);
			font-size: 12px;
			margin: 0 12px;
			color: #838383;
		}
	}
}