/*-----pagination-----*/
.pagination {
	margin: 84px 0 24px 0;
	width: 100%;
	&-info {
		margin-top: 14px;
		width: 100%;
		font-weight: 400;
		font-size: 17px;
		line-height: 21px;
		text-align: center;
		color: #4B4B4B;
	}
}
.screen-reader-text{
	display: none;
}
.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	&-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		min-width: 120px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.page-numbers {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 6px 7px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
		text-align: center;
		color: #ECE8E1;
		transition: color 0.3s ease-in, background-color 0.3s ease-in;
	}
	.current {
		color: var(--gold-color);
	}
	a.page-numbers {
		&:hover {
			color: var(--gold-color);
		}
	}
	.prev,
	.next {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		// max-width: calc(100% - 480px - 20px);
		width: 240px;
		min-width: 180px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.25;
		@include gold-gradient-text;
		transition: .3s ease;
		cursor: pointer;
		i {
			@include gold-gradient-text;
			transition: .3s ease;
		}
		&:hover {
			@include gold-gradient-text-hover;
			i {
				@include gold-gradient-text-hover;
			}
		}
	}
	.prev {
		margin-right: auto;
		i {
			margin-right: 8px;
			transform: rotate(180deg);
		}
		&:hover {
			i {
				transform: rotate(225deg);
			}
		}
	}
	.next {
		margin-left: auto;
		justify-content: flex-end;
		i {
			margin-left: 8px;
		}
		&:hover {
			i {
				transform: rotate(-45deg);
			}
		}
	}
}


@include tablet {
	/*-----pagination-----*/
	.pagination {
		display: flex;
		flex-direction: column-reverse;
		margin: 48px 0 8px 0;
		&-info {
			margin-top: 0;
			margin-bottom: 16px;
			font-size: 16px;
		}
	}
	.nav-links {
		justify-content: center;
		&-numbers {
			min-width: auto;
			position: relative;
			left: auto;
			transform: none;
		}
		.prev,
		.next {
			justify-content: flex-start;
			width: auto;
			min-width: auto;
			font-size: 36px;
		}
		.prev {
			margin-right: 14px;
			i {
				margin-right: 0;
			}
		}
		.next {
			margin-left: 14px;
			justify-content: flex-start;
			i {
				margin-left: 0;
			}
		}
	}
}

@include mobile {
	/*-----pagination-----*/
	.pagination {
		margin-top: 30px;
		&-info {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	.nav-links {
		.page-numbers {
			font-size: 14px;
		}
	}
}