<!-- header-mobile -->
<header class="header header-mob">
  <div class="container">
    <div class="header-top">
      <!-- Toggle burger button -->
      <div class="btn-toggle" id="burger-toggle">
        <i class="icomoon icon-burger"></i>
        <i class="icomoon icon-close"></i>
      </div>
      <a href="/" class="logo">Bigmishka</a>
      <!-- Toggle cart button -->
      <div class="btn-toggle" id="cart-toggle"><div class="cart-value">6</div><i class="icomoon icon-bag2"></i></div>
    </div>
    <div class="menu-panel" id="burger-menu">
      <form role="search" method="get" id="searchform" action="#" class="searchform form-group">
        <input type="text" placeholder="Поиск" class="form-input" name="s" id="s">
        <button class="btn-reset searchform-button"><i class="icomoon icon-zoom"></i></button>
      </form>
      <ul class="nav-list">
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Краски</a></li>
        <li><a href="#">PMU</a></li>
        <li><a href="#">Картриджи</a></li>
        <li><a href="#">Чистящие средства</a></li>
        <li><a href="#">Аксессуары</a></li>
        <li><a href="#">Мебель</a></li>
        <li><a href="#">Оборудование</a></li>
        <li><a href="#">Источники питания</a></li>
      </ul>
      <a href="rassrochka.html" class="green-link" data-text="Рассрочка">Рассрочка</a>
      <a href="studiam-i-masteram.html" class="green-link" data-text="Студиям и мастерам">Студиям и мастерам</a>
      <div class="header-contacts">
        <a href="tel:+37255532754" class="header-link">+(372) 5553 2754</a>
        <a href="mailto:order@mishka.ink" class="header-link">order@mishka.ink</a>
      </div>
      <div class="lang-toggles">
        <div class="lang-item lang-active">EST</div>
        <div class="lang-item">ENG</div>
      </div>
    </div>
    <div class="menu-panel" id="cart-menu">
      <div class="menu-list">
        <div class="menu-item">
          <a href="cart.html" class="menu-btn"><i class="icomoon icon-bag"></i>Корзина (6)</a>
        </div>
        <div class="menu-item">
          <a href="favorites.html" class="menu-btn"><i class="icomoon icon-heart"></i>Избранное</a>
        </div>
        <div class="menu-item">
          <a href="lk.html" class="menu-btn"><i class="icomoon icon-user"></i>Личный кабинет</a>
        </div>
        <div class="menu-item">
          <button class="menu-btn"><i class="icomoon icon-sign-out"></i>Выйти</button>
        </div>
      </div>
    </div>
  </div>
</header>