.blogbl {
  padding-bottom: 100px;
  background-image: url('../img/sparks/sparks-blogbl.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: top;
  .heading {
    margin-bottom: 60px;
  }
  .section-title {
    .neon {
      margin-left: 90px;
    }
  }
}