.complectbl {
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    .heading {
      margin-top: 60px;
      width: calc(41% - 20px);
      .section-title {
        .neon {
          margin-left: 30px;
        }
      }
    }
    .complectblSwiper {
      width: calc(50% - 20px);
      margin-right: 0;
    }
  }
  &Swiper {
    .swiper-nav {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

@include tablet {
  .complectbl {
    .card {
      .btn-favorites {
        display: none;
      }
    }
    &-container {
      justify-content: flex-start;
      flex-direction: column;
      .heading {
        margin-top: 0;
        width: 100%;
        .section-title {
          .neon {
            margin-left: 30px;
          }
        }
      }
      .complectblSwiper {
        width: 100%;
      }
    }
    &Swiper {
      .swiper-nav {
        margin-bottom: 20px;
      }
    }
  }
}

