.compare {
  .message {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 40px;
  }
  &-table {
    margin-top: 40px;
    .table-style {
      thead th {
        border-bottom: 1px solid #454545;
        .card-name {
          text-align: left;
        }
      }
      thead th,
      tbody td {
        width: 20%;
      }
      tbody {
        td {
          text-align: left;
          vertical-align: bottom;
          .btn {
            margin-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
          }
        }
        tr {
          &:last-child {
            td {
              text-align: center;
              border-bottom: 0;
            }
          }
        }
      }
      thead th:nth-child(1),
      tbody td:nth-child(1) {
        padding-left: 10px;
      }
    }
  }
}

@include tablet {
  .compare {
    &-table {
      overflow-x: auto;
      .table-style {
        width: max-content;
        thead th,
        tbody td {
          width: 210px;
          max-width: 210px;
          flex-shrink: 0;
          padding: 15px 10px !important;
        }
      }
    }
  }
}