.contacts {
  .heading {
    margin-bottom: 72px;
  }
  .section-title {
    .default {
      margin-left: 100px;
    }
  }
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    .col {
      &:nth-child(1) {
        width: calc(70% - 20px);
      }
      &:nth-child(2) {
        width: calc(30% - 20px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        .socials {
          margin-bottom: 36px;
        }
      }
    }
  }
  &-items {
    font-size: 17px;
    font-weight: 400;
    color: #ECE8E1;
    text-transform: uppercase;
    p {
      margin-top: 0;
      margin-bottom: 4px;
    }
    &-big {
      font-size: 40px;
      font-weight: 500;
      color: #ECE8E1;
      text-transform: uppercase;
      a {
        margin-bottom: 14px;
        // width: 100%;
        display: block;
      }
      p {
        margin-top: 0;
        margin-bottom: 14px;
      }
    }
    a:hover,
    &-big a:hover {
      color: var(--gold-color);
    }
  }
}

.team {
  .heading {
    margin-bottom: 84px;
  }
  .section-title {
    margin-left: auto;
    .default {
      margin-left: auto;
      margin-right: 100px;
    }
    .neon {
      margin-left: auto;
    }
  }
  &-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-right: 12%;
    &:nth-child(1n) {
      margin-bottom: 6%;
    }
    &:nth-child(2n) {
      margin-top: 6%;
    }
    &:nth-child(3n) {
      margin-left: 12%;
    }
  }
  &-img {
    width: 100%;
    aspect-ratio: 36 / 43;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  }
  &-info {
    width: 100%;
    margin-bottom: 20px;
    .row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      line-height: 1.35;
      text-transform: uppercase;
      margin-bottom: 6px;
      .col {
        color: var(--font-color);
        width: calc(50% - 8px);
        &:nth-child(1) {
          font-size: 18px;
        }
        &:nth-child(2) {
          text-align: right;
          font-size: 17px;
          font-style: italic;
        }
      }
      &:nth-child(2) {
        .col {
          color: #8B8B8B;
          &:nth-child(1) {
            font-size: 14px;
          }
          &:nth-child(2) {
            font-size: 17px;
            font-style: italic;
          }
        }
      }
    }
  }
}

.magazine {
  &-grid {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 96px;
    }
    .row {
      &:not(:last-child) {
        margin-bottom: 70px;
      }
      .col {
        display: flex;
        flex-direction: column;
        gap: 50px 80px;
        font-size: 18px;
        line-height: 1.4;
        color: #ECE8E1;
        text-transform: uppercase;
        img {
          width: 100%;
          aspect-ratio: 36 / 43;
          object-fit: cover;
          border-radius: var(--border-radius);
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
        }
      }
      &:nth-child(1) {
        .col {
          width: 74%;
          img {
            aspect-ratio: 86 / 43;
          }
        }
      }
      &:nth-child(2) {
        .col {
          width: 32%;
          &:nth-child(1) {
            margin-right: 24%;
            img {
              aspect-ratio: 36 / 23;
            }
          }
        }
      }
      &:nth-child(3) {
        max-width: 80%;
        margin-left: 7.5%;
        .col {
          justify-content: space-between;
          flex-direction: row;
          img {
            width: 52%;
            aspect-ratio: 49 / 31;
          }
          .text {
            width: 39%;
          }
        }
      }
    }
  }
}

.map {
  width: 100%;
  height: 560px;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
.ymaps-2-1-79-map,
.ymaps-2-1-79-inner-panes {
  border-radius: var(--border-radius);
}


@include tablet {
  .contacts {
    .heading {
      margin-bottom: 56px;
    }
    .section-title {
      .default {
        margin-left: 60px;
      }
    }
    &-container {
      .col {
        &:nth-child(1) {
          width: calc(65% - 12px);
        }
        &:nth-child(2) {
          width: calc(35% - 12px);
        }
      }
    }
    &-items {
      font-size: 16px;
      &-big {
        font-size: 28px;
      }
    }
  }

  .team {
    .heading {
      margin-bottom: 60px;
    }
    &-card {
      width: 42%;
      margin-right: 8%;
      &:nth-child(3n) {
        margin-left: 0;
      }
    }
    &-info {
      .row {
        .col {
          width: calc(50% - 8px);
          &:nth-child(1) {
            font-size: 16px;
          }
          &:nth-child(2) {
            font-size: 16px;
          }
        }
        &:nth-child(2) {
          .col {
            &:nth-child(1) {
              font-size: 13px;
            }
            &:nth-child(2) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .magazine {
    &-grid {
      &:not(:last-child) {
        margin-bottom: 72px;
      }
      .row {
        &:not(:last-child) {
          margin-bottom: 72px;
        }
        .col {
          gap: 36px 40px;
          font-size: 17px;
        }
        // &:nth-child(1) {
        //   .col {
        //     width: 74%;
        //   }
        // }
        &:nth-child(2) {
          .col {
            width: calc(50% - 20px);
            &:nth-child(1) {
              margin-right: 40px;
            }
          }
        }
        &:nth-child(3) {
          max-width: 100%;
          margin-left: 0;
          .col {
            img {
              width: 50%;
            }
            .text {
              width: 50%;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .contacts {
    .heading {
      margin-bottom: 40px;
    }
    .section-title {
      .default {
        margin-left: 30px;
      }
    }
    &-container {
      flex-direction: column;
      justify-content: flex-start;
      .col {
        &:nth-child(1) {
          width: 100%;
          margin-bottom: 36px;
        }
        &:nth-child(2) {
          width: 100%;
          align-items: flex-start;
          text-align: left;
        }
      }
    }
    &-items {
      &-big {
        font-size: 20px;
      }
    }
  }
  .team {
    .heading {
      margin-bottom: 48px;
    }
    .section-title {
      .default {
        margin-left: 0;
        margin-right: auto;
      }
      .neon {
        margin-left: 15px;
      }
    }
    &-cards {
      justify-content: space-between;
    }
    &-card {
      &:nth-child(1n) {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        margin-top: 0;
      }
      margin: 0 0 40px 0 !important;
      width: calc(50% - 14px);
    }
    &-info {
      margin-bottom: 10px;
      .row {
        align-items: center;
        .col {
          vertical-align: middle;
          width: calc(50% - 8px);
          &:nth-child(2) {
            font-size: 14px;
          }
        }
        &:nth-child(2) {
          .col {
            &:nth-child(1) {
              font-size: 12px;
            }
            &:nth-child(2) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .magazine {
    &-grid {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      .row {
        &:not(:last-child) {
          margin-bottom: 60px;
        }
        .col {
          gap: 24px 24px;
        }
        &:nth-child(1) {
          .col {
            width: 100%;
          }
        }
        &:nth-child(2) {
          flex-direction: column;
          .col {
            width: 100%;
            &:nth-child(1) {
              margin-right: 0;
              margin-bottom: 48px;
              img {
                width: calc(100% - 30px);
              }
            }
          }
        }
        &:nth-child(3) {
          .col {
            flex-direction: column;
            justify-content: flex-start;
            img {
              width: 100%;
            }
            .text {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .map {
    height: 400px;
  }
}

@include mobile {
  .team {
    &-cards {
      justify-content: flex-start;
      flex-direction: column;
    }
    &-card {
      width: 100%;
    }
  }
  .magazine {
    &-grid {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      .row {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        .col {
          font-size: 16px;
        }
      }
    }
  }
  .map {
    height: 250px;
  }
}