.educbl {
  .section-title {
    .neon {
      margin-left: 70px;
    }
  }
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &-content {
    width: calc(50% - 30px);
    .title-m2 {
      margin-bottom: 36px;
      font-size: 19px;
      font-weight: 400;
    }
    .section-title {
      row-gap: 0;
      p {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 17px;
      }
    }
  }
  &-img {
    width: calc(50% - 30px);
    img {
      width: 100%;
      border-radius: 30px;
      aspect-ratio: 56 / 33;
      object-fit: cover;
      box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
    }
  }
  .form-wrapper {
    margin-top: 70px;
  }
}