.formbl {
  .default-wrapper {
    padding: 48px 60px 72px 60px;
  }
  .section-title {
    .neon {
      margin-left: 40px;
    }
  }
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    .heading {
      width: calc(60% - 20px);
      .section-text {
        margin-top: 48px;
        max-width: 540px;
        font-size: 18px;
        line-height: 1.4;
      }
    }
    .col {
      width: calc(40% - 20px);
      .title-m2 {
        margin-bottom: 16px;
        font-size: 17px;
        text-transform: none;
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  .formbl {
    .default-wrapper {
      padding: 40px 40px 50px 40px;
    }
  }
}

@include tablet {
  .formbl {
    &-container {
      justify-content: flex-start;
      flex-direction: column;
      .heading {
        width: 100%;
        .section-text {
          margin-top: 36px;
          max-width: 100%;
        }
      }
      .col {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .formbl {
    .default-wrapper {
      padding: 25px 14px 30px 14px;
    }
    .section-title {
      .neon {
        margin-left: 35px;
      }
      .default {
        margin-left: 10px;
      }
    }
    &-container {
      .heading {
        .section-text {
          margin-top: 30px;
          font-size: 16px;
        }
      }
      .col {
        .title-m2 {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .form-bl {
    .default-wrapper {
      margin-right: -5px;
      margin-left: -5px;
      width: calc(100% + 10px);
    }
  }
}