.novelty {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &::before {
    top: 0;
    background-image: url('../img/novelty/noveltyTop.svg');
    background-position-y: top;
  }
  &::after {
    bottom: 0;
    background-image: url('../img/novelty/noveltyBottom.svg');
    background-position-y: bottom;
  }
  &Swiper {
    padding: 180px 80px 160px 80px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .card-name {
      margin-top: 0;
      margin-bottom: 48px;
      font-family: var(--font-BernardoModa);
      font-size: 38px;
      text-transform: uppercase;
      text-align: left;
    }
    .card-text {
      text-align: left;
      margin-bottom: 48px;
    }
    .card-price {
      gap: 24px;
      margin-bottom: 20px;
      .current {
        font-size: 30px;
        color: var(--font-color);
      }
      .old {
        font-size: 22px;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(50% - 12px);
  }
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 12px);
    &-second {
      position: absolute;
      left: -250px;
      top: 50%;
      transform: translateY(-50%);
      width: 250px;
      height: 490px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .swiper-slide {
    opacity: 0;
    transition: .3s ease;
  }
  .swiper-slide-active {
    opacity: 1;
  }
}

@include tablet {
  .novelty {
    &Swiper {
      padding: 110px 54px 100px 54px;
    }
    &-item {
      .card-name {
        margin-bottom: 30px;
        font-size: 30px;
      }
      .card-text {
        margin-bottom: 30px;
      }
      .card-price {
        gap: 24px;
        margin-bottom: 20px;
        .current {
          font-size: 25px;
        }
        .old {
          font-size: 19px;
        }
      }
    }
    &-img {
      width: calc(50% - 12px);
      &-second {
        display: none;
      }
    }
  }
}

@include mobile {
  .novelty {
    &::before,
    &::after {
      background-size: 1400px;
      background-position-x: 52%;
    }
    &Swiper {
      padding: 140px 0 170px 0;
      .swiper-button-prev, .swiper-button-next {
        top: 280px;
      }
    }
    &-item {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column-reverse;
      .card-name {
        margin-bottom: 25px;
        font-size: 26px;
      }
      .card-text {
        margin-bottom: 30px;
      }
      .card-price {
        gap: 24px;
        margin-bottom: 20px;
        .current {
          font-size: 20px;
        }
        .old {
          font-size: 16px;
        }
      }
    }
    &-content {
      width: 100%;
    }
    &-img {
      width: 300px;
      max-width: calc(100% - 20px);
      margin-bottom: 30px;
    }
  }
}