.product {
  padding-top: 30px;
  .kama_breadcrumbs {
    margin-bottom: 48px;
  }
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &-info {
    padding-bottom: 30px;
    width: calc(50% - 20px);
    text-align: left;
    .card-name {
      font-family: var(--font-BernardoModaContrast);
      font-size: 38px;
      color: var(--font-color);
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 14px;
    }
    .card-text {
      margin-top: 36px;
      margin-bottom: 22px;
      text-align: left;
    }
    .card-price {
      gap: 20px;
      .current {
        font-size: 40px;
        font-weight: 400;
      }
      .old {
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  &-slider {
    width: calc(41% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    .swiper {
      max-width: 100%;
      border-radius: 30px;
      z-index: 0;
      &-slide {
        border-radius: 30px;
        img {
          border-radius: 30px;
        }
      }
    }
    .prodFirstSwiper {
      box-shadow: 5px 5px 15px 3px rgba(138, 138, 138, 0.20);
    }
    .prodSecondSwiper {
      margin-top: 15px;
      .swiper-slide {
        cursor: pointer;
        img {
          // box-shadow: 5px 5px 5px 3px rgba(138, 138, 138, 0.10);
          border: 1px solid rgba(138, 138, 138, 0.20);
        }
        &:hover {
          img {
            border: 1px solid var(--gold-color);
          }
        }
        &.swiper-slide-thumb-active {
          border: 1px solid var(--gold-color);
        }
      }
    }
  }
}

.prodView {
  .message {
    margin-top: -20px;
    margin-bottom: 24px;
  }
  .product-info {
    color: var(--black-color);
    .card-name,
    .card-text {
      color: var(--black-color);
    }
    .card-price {
      .current,
      .old {
        font-weight: 400;
      }
      &-info {
        color: #141414;
        background: var(--white-color);
      }
    }
    .card-charact {
      .group {
        .title {
          color: var(--black-color);
        }
      }
      .btn {
        box-shadow: 5px 5px 20px 0px rgba(144, 87, 31, 0.40);
      }
      .btn-second {
        color: var(--black-color);
        &:hover {
          color: var(--gold-color);
        }
      }
    }
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 20px;
  font-size: 17px;
  line-height: 1.3;
  color: var(--black-color);
  border-radius: 10px;
  background: var(--white-color);
  &bl {
    padding: 20px 0;
  }
  &.green {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #C0EAB7;
  }
  &-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    i {
      font-size: 16px;
      margin-right: 20px;
    }
    &.red {
      color: var(--red-color);
    }
  }
  &-info {
    margin-top: 10px;
    padding-left: 36px;
    font-size: 15px;
    color: var(--darkGrey-color);
  }
  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    .btn {
      padding-left: 36px;
      padding-left: 36px;
      box-shadow: 5px 5px 20px 0px rgba(144, 87, 31, 0.40);
    }
    .btn-remove {
      margin-left: 40px;
    }
  }
  .btn-remove i {
    color: var(--black-color);
    &:hover {
      color: var(--red-color);
    }
  }
}