.watchedbl {
  padding-bottom: 80px;
  background-image: url('../img/sparks/sparks-newsbl.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: top;
  .section-title {
    .neon {
      margin-left: 80px;
    }
  }
}

.recombl {
  .default-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .section-title {
    .default {
      margin-left: 100px;
    }
  }
}

.similarbl {
  background-image: url('../img/sparks/sparks-newsbl.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: top;
  .section-title {
    .default {
      margin-left: 100px;
    }
  }
}

.watchedblSwiper,
.similarblSwiper,
.recomblSwiper {
  .swiper-nav {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1190px) {
  .recombl .default-wrapper {
    padding: 48px 48px;
  }
}

@include tablet {
  .watchedblSwiper,
  .similarblSwiper,
  .recomblSwiper {
    .swiper-nav {
      margin-bottom: 20px;
    }
    .card {
      .btn-favorites {
        display: none;
      }
    }
  }
  .recombl {
    .default-wrapper {
      padding: 36px 28px;
    }
    .section-title {
      .default {
        margin-left: 30px;
      }
    }
  }
}

@include mobile {
  .watchedbl {
    padding-bottom: 50px;
    .section-title {
      .default {
        margin-left: auto;
      }
      .neon {
        margin-left: auto;
        margin-right: 55px;
      }
    }
  }
  .recombl {
    .default-wrapper {
      padding: 30px 14px;
    }
  }
  // .similarbl {
  //   .section-title {
  //     .default {
  //       margin-left: 100px;
  //     }
  //   }
  // }
}